singularity {
  enabled = true
  autoMounts = true
  runOptions = '--bind /home/Bioinformatics/Data/blastdb/:/blast/blastdb'
}

process {
  withName:seqyclean{
    container = 'staphb/seqyclean:1.10.09'
  }
  withName:fastqc{
    container = 'staphb/fastqc:0.11.8'
  }
  withName:shovill{
    container = 'staphb/shovill:1.1.0'
  }
  withName:mash_sketch{
    container = 'staphb/mash:2.2'
  }
  withName:mash_dist{
    container = 'staphb/mash:2.2'
  }
  withName:prokka{
    container = 'staphb/prokka:1.14.5'
  }
  withName:quast{
    container = 'staphb/quast:5.0.2'
  }
  withName:cg_pipeline_shuffle{
    container = 'staphb/lyveset:2.0.1'
  }
  withName:cg_pipeline{
    container = 'staphb/lyveset:2.0.1'
  }
  withName:seqsero2{
    container = 'staphb/seqsero2:1.1.1'
  }
  withName:abricate{
    container = 'staphb/abricate:0.8.13s'
  }
  withName:abricate_summary{
    container = 'staphb/abricate:0.8.13s'
  }
  withName:bwa_index{
    container = 'staphb/shovill:1.0.4'
  }
  withName:blastn{
    container = 'ncbi/blast:2.9.0'
  }
  withName:bwa{
    container = 'staphb/shovill:1.0.4'
  }
  withName:blobtools_create{
    container = 'chrishah/blobtools:v1.1.1'
  }
  withName:blobtools_view{
    container = 'chrishah/blobtools:v1.1.1'
  }
  withName:blobtools_plot{
    container = 'chrishah/blobtools:v1.1.1'
  }
  withName:mlst{
    container = 'staphb/mlst:2.19.0'
  }
  withName:multiqc{
    container = 'staphb/multiqc:1.8'
  }
}
